venv
.vscode/
**/.DS_Store
**/jspsych-6.3.1/
**/jspsych-html-audio-response_modified.js
.Rhistory

results/illusory-vowel-keihan.csv
results/csv/*
results/wav/*
results/webm/*
results/*.html
src/audio/output/*

!**/.gitkeep
.Rproj.user
