**/.DS_Store
**/jspsych-6.3.1/
**/jspsych-html-audio-response_modified.js
**/*.wav
**/*.webm
results/csv/*
# results/wav/*
# results/webm/*
src/audio/output/*
!src/audio/output/.gitkeep
venv
.vscode/
